/* -----------------------------------------------------------------------------
 * WP Admin
 * -------------------------------------------------------------------------- */
@media (min-width:992px) {
    body.admin-bar header#masthead #slim-header-wrap {
        top: 32px;
    }
    body.admin-bar > div#page.site {
        /* padding-top: 32px; */
    }
}

body.admin-bar #cart-panel {
    top: 32px !important;
}

body.admin-bar div#cart-panel-trigger {
    bottom: 42px;
}

@media (max-width:782px) {
    body.admin-bar #cart-panel {
        top: 46px !important;
    }                        
    body.admin-bar div#cart-panel-trigger {
        bottom: 56px;
    }
}

/* -----------------------------------------------------------------------------
 * General Settings
 * -------------------------------------------------------------------------- */
div#content,
#slim-header-wrap,
ul.slim-header-menu > li,
ul.slim-header-menu > li a,
div#slim-header .right-half {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition:  all 0.2s ease-in-out;
    -o-transition:  all 0.2s ease-in-out;
    transition:  all 0.2s ease-in-out;
}

.padded-content-wrap {
    padding: 50px 0;
}

body.single div#primary,
body.page div#primary {
    padding-top: 0;
    padding-bottom: 0;
}

a.read-more,
ul#mobile-menu li a,
img.custom-logo,
.blog-meta .post-author a,
ul.slim-header-menu > li.menu-item-has-children > ul.sub-menu,
ul.slim-header-menu > li.menu-item-has-children > ul.sub-menu li a,
.masonry-card-blog .blog_item_wrap .blog_item .footer-meta,
.masonry-card-blog .blog_item_wrap .blog_item .meta-stats,
.masonry-card-blog .blog_item_wrap .blog_item .inner-wrap,
.site-branding .site-tagline,
header#masthead:not(.header-style-split) .navbar-social,
div#split-social-slide-in,
a.navbar-icon,
#split-social-trigger,
aside.widget a,
.select-items,
.select-items div,
div#cart-panel-trigger,
div#cart-panel-trigger > span,
div#cart-panel-trigger > svg,
.woocommerce-tabs.wc-tabs-wrapper ul.tabs li {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
}

div#slim-header ul#mobile-menu:before,
div#banner-header ul#mobile-menu:before,
ul.slim-header-menu > li:not(.menu-item-has-children) > a:before,
ul.slim-header-menu > li.menu-item-has-children > ul.sub-menu:before,
div#mobile-menu-wrap li.menu-item-has-children > span {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:  all 0.5s ease-in-out;
    -o-transition:  all 0.5s ease-in-out;
    transition:  all 0.5s ease-in-out;
}

span.small-divider {
    display: inline-block;
    width: 100px;
    border-top: 1px solid #fff;
    margin: 10px 0 5px;
}

span.small-divider.dark {
    border-color: #333;
}

section.no-results.not-found {
    min-height: 100vh;
}

/* -----------------------------------------------------------------------------
 * General Typography
 * -------------------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
/*    font-weight: bold;*/
}

a.read-more {
    white-space: nowrap;
}

/* -----------------------------------------------------------------------------
 * Header: Split Header (Custom A)
 * -------------------------------------------------------------------------- */

header#masthead {
    z-index: 99999;
}

header#masthead.header-style-slim .site-branding .site-title,
header#masthead.header-style-split .site-branding .site-title,
header#masthead.header-style-slim .site-branding .site-tagline,
header#masthead.header-style-split .site-branding .site-tagline {
    padding: 0 15px;
}

.site-branding .site-title {
/*    letter-spacing: .25em;*/
    line-height: 1em;
    margin: 0;
}

.site-branding .site-tagline {
    margin: 0;
}

.is-sticky .site-branding .site-tagline {
    opacity: 0;
    transform: scale(0) translate(0,50%);
    height: 0;
}

#slim-header-wrap {
    position: fixed !important;
    width: 100% !important;
    top: 0;
    z-index: 9999;
    bottom: unset !important;
}

div#slim-header {
    /*    background-color: #111319;*/
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
/*    width: 100%;*/
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}

div#slim-header .left-half ul.slim-header-menu {
    text-align: right;
    float: right;
}

div#slim-header .left-half,
div#slim-header .right-half {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1;
}
div#slim-header .left-half {
    text-align: right;
    justify-content: flex-end;
}
div#slim-header .right-half {
    text-align: left;
    justify-content: flex-start;
}
div#custom-logo-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    justify-content: center;
    width: auto !important;
}
div#custom-logo-wrap.expanded {
    width: auto;
}
ul.slim-header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
}

ul.slim-header-menu > li {
    padding: 0 15px;
    vertical-align: middle;
    display: table-cell;
}

header img.custom-logo {
    text-align: center;
    width: auto;
    padding: 12.5px 0;
/*    transform: translate(0,-20%);*/
}

.is-sticky img.custom-logo {
    opacity: 1;
/*    transform: none;*/
}

ul#mobile-menu li a,
ul.slim-header-menu > li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .125em;
    letter-spacing: .5em;
/*    vertical-align: top;*/
}

div.sticky-wrapper {
    height: auto !important;
}

ul.slim-header-menu > li {
    position: relative;
}
ul.slim-header-menu > li.current-menu-item > a:before,
ul.slim-header-menu > li:not(.menu-item-has-children) > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    opacity: 0;
    bottom: 0px;
/*    margin: -1px 0 0 0;*/
/*    background-color: #e5f075;*/
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
ul.slim-header-menu > li.current-menu-item > a:before,
ul.slim-header-menu > li:not(.menu-item-has-children) > a:hover:before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleX(.75);
            transform: scaleX(.75);
}

div#slim-header ul#mobile-menu,
div#banner-header ul#mobile-menu {
    padding: 15px 0 0 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    display: none;
    position: relative;
    padding-bottom: 15px;
}

div#slim-header ul#mobile-menu:before,
div#banner-header ul#mobile-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
/*    background-color: #e5f075;*/
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

div#slim-header ul#mobile-menu.expanded:before,
div#banner-header ul#mobile-menu.expanded:before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

div#slim-header ul#mobile-menu li,
div#banner-header ul#mobile-menu li {
    opacity: 0;
}

ul.slim-header-menu > li.menu-item-has-children > ul.sub-menu {
    position: absolute;
    /*background-color: #101319;*/
    list-style: none;
    width: 200px;
    top: 100%;
    left: 0;
    text-align: center;
    z-index: 99999;
    overflow: hidden;
    height: 0;
    padding: 0 30px;
    opacity: 0;
}

ul.slim-header-menu > li.menu-item-has-children:hover > ul.sub-menu {
    padding: 15px 20px;
    height: auto;
    opacity: 1;
    margin-top: -1px;
}

ul.slim-header-menu > li.menu-item-has-children:hover > ul.sub-menu ul.sub-menu {
    padding: 0;
    margin: 0;
    float: none;
    position: relative;
    transform: none !important;
    list-style: none !important;
}

ul.slim-header-menu > li.menu-item-has-children > ul.sub-menu li a {
    letter-spacing: .25em;
    line-height: 30px;
}

ul.slim-header-menu > li.menu-item-has-children > ul.sub-menu li a:hover {
/*    color: #e5f075;*/
}

ul.slim-header-menu > li.menu-item-has-children > ul.sub-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
/*    background-color: #e5f075;*/
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

ul.slim-header-menu > li.menu-item-has-children:hover > ul.sub-menu:before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}

ul.slim-header-menu > li > ul.sub-menu > li {
    line-height: 18px;
}

div#mobile-menu-wrap li.menu-item-has-children > span {
    font-family: Helvetica, sans-serif !important;
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
}

div#mobile-menu-wrap li.menu-item-has-children > span.expanded  {
    transform: rotate(45deg);
}

div#mobile-menu-wrap ul.sub-menu {
    padding: 0;
    margin: 0;
    list-style: none;
/*    border-top: thin solid #333;
    border-bottom: thin solid #333;*/
    padding: 5px 0;
    margin: 5px 0;
    display: none;
}

div#mobile-menu-wrap ul.sub-menu li a {
    font-size: 10px;
}

div#mobile-menu-wrap ul#mobile-menu > li > ul.sub-menu > li > ul.sub-menu,
div#mobile-menu-wrap ul#mobile-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu {
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    div#slim-header div#mobile-menu-trigger,
    div#slim-header ul#mobile-menu,
    div#banner-header div#mobile-menu-trigger,
    div#banner-header ul#mobile-menu {
        display: none !important;
    }
}

@media (max-width: 991px) {
    div#slim-header-wrap {
        position: relative !important;
        top: 0 !important;
    }
    div#slim-header {
        display: block;
        text-align: center;
        padding: 0;
    }
    div#slim-header ul.slim-header-menu {
        display: none;
    }
    div#custom-logo-wrap {
        width: 100% !important;
        padding: 15px 0 0;
    }
    header img.custom-logo {
        opacity: 1 !important;
        margin: 0 15px;
        width: auto !important;
        transform: none !important;
        animation: none;
    }
    div#mobile-menu-wrap {
/*        padding-bottom: 15px;*/
    }
}

/* -----------------------------------------------------------------------------
 * Header: Slim Header (Custom B)
 * -------------------------------------------------------------------------- */

header#masthead.header-style-slim img.custom-logo {
    margin-left: 0 !important;
}

header#masthead.header-style-slim #slim-header-wrap #slim-header {
    position: relative;
}

@media (min-width:992px) {

    header#masthead.header-style-slim #slim-header-wrap #slim-header,
    header#masthead.header-style-banner #banner-header-wrap #banner-header #banner-header-menu-wrap {
        padding: 0 15px;
    }
    header#masthead.header-style-slim .site-branding,
    header#masthead.header-style-slim .site-title {
        text-align: left;
        padding: 0;
        margin-right: 10px;
    }
    header#masthead.header-style-slim .is-sticky .site-branding .site-tagline {
        transform: none;
    }
    header#masthead.header-style-slim #slim-header-wrap .left-half {
        position: absolute;
        right: 15px;
    }
}

@media (max-width:991px) {
    header#masthead.header-style-slim img.custom-logo {
        margin: 0 15px !important;
    }
}

/* -----------------------------------------------------------------------------
 * Header: Banner (Custom C)
 * -------------------------------------------------------------------------- */

header#masthead.header-style-banner {
    position: relative;
}

header#masthead.header-style-banner img.custom-logo {
    padding: 0;
    margin: 0;
}

div#banner-header-wrap {
    background-size: cover;
    background-position: 50%;
}

header#masthead.header-style-banner div#banner-header-wrap ul.slim-header-menu > li > a {
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    display: inline-block;
}

header#masthead.header-style-banner div#banner-header-wrap #custom-logo-wrap {
    display: block;
    text-align: left;
    padding: 0 25px;
}

@media (max-width: 991px) {
    header#masthead.header-style-banner div#banner-header-wrap #custom-logo-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    header#masthead.header-style-banner div#banner-header-menu-wrap {
        display: none;
    }
}

div#banner-header ul#mobile-menu {
    padding-left: 15px;
    padding-right: 15px;
}

header#masthead.header-style-banner img.custom-logo {
    padding: 0;
}

header#masthead.header-style-banner #mobile-menu-trigger {
    margin: 15px 15px 0;
}

/* -----------------------------------------------------------------------------
 * Header Social
 * -------------------------------------------------------------------------- */
a.navbar-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

@media (max-width: 991px) {
    header#masthead.header-style-slim div#slim-header .left-half {
        justify-content: center;
        margin-top: 15px;
    }
}

header#masthead.header-style-split div#slim-header .left-half.split-social {
    position: absolute;
    right: 0;
    height: 100%;
}

div#split-social-slide-in {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 70px;
    text-align: center;
    padding: 15px;
    transform: translate(100%,0%);
    border-bottom-left-radius: 8px;
}

div#split-social-slide-in.slid-in {
    transform: translate(0%,0%);
    box-shadow: -3px 3px 10px -5px rgba(0,0,0,.75);
}

#split-social-trigger {
    display: inline-block !important;
    opacity: 1 !important;
    position: absolute;
    left: -45px;
    transform: rotate(135deg);
}

header#masthead.header-style-split .navbar-social #split-social-trigger {
    width: 20px;
    height: 20px;
}

a#split-social-trigger.expanded {
    transform: none;
    margin-top: -1px;
}

header#masthead.header-style-split .navbar-social {
    transform: translate(100%,0);
    padding: 0 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

header#masthead.header-style-split .navbar-social.expanded {
    width: auto;
    transform: none;
}

header#masthead.header-style-split .navbar-social .navbar-icon {
    opacity: 0;
}

header#masthead.header-style-split .navbar-social.expanded .navbar-icon {
    opacity: 1;
}

/*header#masthead.header-style-split .navbar-social.expanded a.navbar-icon:hover {
    opacity: .8;
}*/

@media (max-width:991px) {
    header#masthead.header-style-split div#slim-header .left-half.split-social {
        position: relative;
        justify-content: center;
        padding: 15px 0 0;
    }
    header#masthead.header-style-split div#slim-header .left-half.split-social .navbar-social {
        border: none !important;
        transform: none !important;
    }
    header#masthead.header-style-split .navbar-social {
        background: none !important;
    }
    header#masthead.header-style-split .navbar-social .navbar-icon {
        opacity: 1;
    }
    header#masthead.header-style-split div#split-social-slide-in {
        display: none;
    }
}

/* -----------------------------------------------------------------------------
 * Hamburger Menu - Cross Animation
 * -------------------------------------------------------------------------- */
#mobile-menu-trigger {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px auto 0;
    width: 18px;
    height: 33px;
    cursor: pointer;
    padding-bottom: 15px;
}

#mobile-menu-trigger .bar,
#mobile-menu-trigger .bar:after,
#mobile-menu-trigger .bar:before {
  width: 18px;
  height: 2px;
}

#mobile-menu-trigger .bar {
  position: relative;
  transform: translateY(9px);
  background: white;
  transition: all 0ms 300ms;
}
#mobile-menu-trigger .bar.animate {
  background: rgba(255, 255, 255, 0);
}

#mobile-menu-trigger .bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#mobile-menu-trigger .bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#mobile-menu-trigger .bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#mobile-menu-trigger .bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* -----------------------------------------------------------------------------
 * Blog: Masonry Cards
 * -------------------------------------------------------------------------- */

@media (max-width:1199px) {
    .masonry-card-blog .blog_item_wrap,
    .masonry-card-blog .grid_sizer {
        width: 33.333333% !important;
    }
}

@media (max-width:991px) {
    .masonry-card-blog .blog_item_wrap,
    .masonry-card-blog .grid_sizer {
        width: 50% !important;
    }
}

@media (max-width:767px) {
    .masonry-card-blog .blog_item_wrap,
    .masonry-card-blog .grid_sizer {
        width: 100% !important;
    }
}

.edd_masonry_wrap .edd-product,
.masonry-card-blog .blog_item_wrap {
    padding: 0 15px;
    margin-bottom: 30px;
}
.masonry-card-blog .blog_item_wrap .blog_item {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.edd_masonry_wrap .edd-product img,
.masonry-card-blog .blog_item_wrap img {
    width: 100%;
}

.masonry-card-blog .blog_item_wrap .blog_item .excerpt {
    color: #777;
}

.masonry-card-blog .blog_item_wrap .blog_item .inner {
    padding: 30px 40px 30px;
}

.blog_item_wrap .blog_item .entry-title {
    margin: 0;
    font-weight: 800;
}
.masonry-card-blog .blog_item_wrap .blog_item .entry-title a {
    color: #373737;
}
.blog_item_wrap .blog_item .inner .blog-meta,
.standard-stacked-blog .blog_item_wrap .blog_item .blog-meta .posted-meta {
    color: #666;
    font-weight: 800;
    margin-bottom: 15px;
    margin-top: 15px;
}

.masonry-card-blog .blog_item_wrap .blog_item .footer-meta {
    padding: 20px 40px 20px 40px;
    border-top: thin solid #f0f0f0;
    position: relative;
    bottom: 0;
}

.masonry-card-blog .blog_item_wrap .blog_item .meta-stats {
    border-radius: 20px 0 0 20px;
    padding: 10px 20px;
    background: #f6f6f6;
    position: absolute;
    top: -20px;
    right: 0;
    color: #777;
    font-size: 16px;
}
.masonry-card-blog .blog_item_wrap .blog_item .inner-wrap {
    background: #fff;
    position: relative;
    top: 0;
}
.masonry-card-blog .blog_item_wrap .blog_item .meta-stats span {
    margin: 0 0px 0 10px;
}
.masonry-card-blog .blog_item_wrap .blog_item .meta-stats span:first-of-type {
    margin: 0;
}
.blog_item_wrap .blog_item .categories-bar {
    text-transform: uppercase;
    letter-spacing: .125em;
    font-weight: 600;
    font-size: 12px;
    padding-right: 65px;
}
.blog_item_wrap .blog_item .categories-bar a {
    color: #888;
}
.masonry-card-blog .blog_item_wrap .blog_item .inner-wrap {
    overflow: hidden;
}
.masonry-card-blog .blog_item_wrap:hover .blog_item .inner-wrap {
    top: -15px;
}
.masonry-card-blog .blog_item_wrap:hover .blog_item .footer-meta {
    bottom: -15px;
}

/* -----------------------------------------------------------------------------
 * Blog: Mosaic
 * -------------------------------------------------------------------------- */
.mosaic-grid-blog .mosaic-grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap > .blog_item {
    background-position: 50%;
    background-size: cover;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+1),
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+4),
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+5) {
    width: 100%;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+2),
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+3),
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+6),
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+7) {
    width: 50%;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap > .blog_item {
    position: relative;
    width: 100%;
    height: 100%;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap > .blog_item > .inner-wrap {
    background: rgba(0,0,0,0.9);
    padding: 30px; 
}


.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+1) > .blog_item,
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+5) > .blog_item,
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+6) > .blog_item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    text-align: right;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+2) > .blog_item,
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+3) > .blog_item,
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+4) > .blog_item,
.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+7) > .blog_item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+1) > .blog_item > .inner-wrap {
    margin-top: 200px;
    width: 35%;
    align-self: flex-end;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+2) > .blog_item > .inner-wrap {
    margin-top: 200px;
    width: 70%;
    align-self: flex-end;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+3) > .blog_item > .inner-wrap {
    margin-bottom: 200px;
    width: 70%;
    align-self: flex-start;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+4) > .blog_item > .inner-wrap {
    margin-top: 200px;
    width: 35%;
    align-self: flex-end;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+5) > .blog_item > .inner-wrap {
    margin-bottom: 200px;
    width: 35%;
    align-self: flex-start;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+6) > .blog_item > .inner-wrap {
    margin-top: 200px;
    width: 70%;
    align-self: flex-end;
}

.mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+7) > .blog_item > .inner-wrap {
    margin-bottom: 200px;
    width: 70%;
    align-self: flex-start;
}

@media (max-width:991px) {
    
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+1) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+4) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+5) > .blog_item > .inner-wrap {
        width: 50%;
    }

    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+2) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+3) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+6) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+7) > .blog_item > .inner-wrap {
        width: 85%;
    }
    
}

@media (max-width:767px) {
    
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+1),
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+2),
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+3),
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+4),
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+5),
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+6),
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+7) {
        width: 100%;
    }
    
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+1) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+2) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+3) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+4) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+5) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+6) > .blog_item > .inner-wrap,
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(7n+7) > .blog_item > .inner-wrap {
        width: 85%;
        margin: 100px 0 0 0;
    }
    
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(odd) > .blog_item {
        justify-content: flex-start !important;        
        text-align: right;
    }
    .mosaic-grid-blog .mosaic-grid > .blog_item_wrap:nth-child(even) > .blog_item {
        justify-content: flex-end !important;
        text-align: left;
    }
    
}

.mosaic-grid-blog .blog_item_wrap .blog_item .inner .blog-meta {
    color: #ffffff;
}
.mosaic-grid-blog .blog_item_wrap .blog_item {
    color: #d9d9d9;
}

.mosaic-grid-blog .blog_item_wrap .blog_item .entry-title {
    margin: 20px 0 0 0;
}

.mosaic-grid-blog .blog_item_wrap .blog_item .entry-title a {
    color: #ffffff;
}

.mosaic-grid-blog .blog_item_wrap .blog_item .meta-stats {
    margin: 10px 0 0;
    right: 0;
    color: #fff;
}

.mosaic-card-blog .blog_item_wrap .blog_item .meta-stats span {
    margin: 0 0px 0 10px;
}

.mosaic-grid-blog .blog_item_wrap .blog_item .meta-stats span:first-of-type {
    margin: 0;
}

.mosaic-grid-blog .blog_item_wrap .blog_item .categories-bar {
    padding: 0;
}

.mosaic-grid-blog .blog_item_wrap .blog_item .categories-bar a {
    color: #d9d9d9;
}

/* -----------------------------------------------------------------------------
 * Blog: Standard
 * -------------------------------------------------------------------------- */

.standard-stacked-blog {
    margin: 50px 0;
}

.standard-stacked-blog .blog_item_wrap {
    margin: 0 0 30px 0;
    border-bottom: thin solid #aaa;
    padding: 0px 30px 30px 30px;
}

.standard-stacked-blog .blog-meta {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
}

.standard-stacked-blog .blog-meta div.category-meta, 
.standard-stacked-blog .blog-meta div.posted-meta {
    flex-grow: 1;
    align-self: center;    
    padding: 10px 0;
}

.standard-stacked-blog .blog_item_wrap .blog_item .blog-meta .posted-meta {
    margin-bottom: 0;
}

.standard-stacked-blog .blog-meta div.category-meta {
/*    border-left: thin solid #eee;*/
    text-align: right;
    flex-grow: initial;
    padding-left: 30px;
}

.standard-stacked-blog .blog-meta div.category-meta .categories-bar {
    padding: 0;
}

.standard-stacked-blog .blog_item_wrap .blog_item .entry-title {
    margin: 15px 0px 20px;
}

.standard-stacked-blog .blog_item_wrap .blog_item .entry-title a {
    color: #373737;
}

.standard-stacked-blog .excerpt img {
    max-width: 30%;
    float: right;
    margin: 0 0px 30px 30px;
}

.standard-stacked-blog .stats-meta {
    border-top: thin solid #eee;
    color: #888;
    margin-top: 5px;
    display: inline-block;
    padding: 15px 40px 0px 0;
}

@media (max-width:767px) {
    .standard-stacked-blog .blog_item_wrap {
        margin-bottom: 15px;
    }
    .standard-stacked-blog .blog-meta {
        display: block;
        padding-top: 5px;
        margin-bottom: 20px;
    }
    .standard-stacked-blog .blog-meta div.category-meta {
        border: none;
        margin: 0 !important;
        padding: 0;
        text-align: left;
    }
    .standard-stacked-blog .blog-meta div.posted-meta {
        margin: 20px 0 5px 0 !important;
        padding: 0 0 5px 0;
        text-align: left;
    }
}

/* -----------------------------------------------------------------------------
 * Custom Header
 * -------------------------------------------------------------------------- */
#buildr-custom-header {
    background-size: cover;
    background-position: 50%;
    position: relative;
}

div#custom-header-overlay {
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

div#custom-header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

div#custom-header-content .custom-header-title {
    color: #fff;
    font-weight: normal;
    margin-top: 0;
}

ul#custom-header-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul#custom-header-menu > li {
    display: inline-block;
}

ul#custom-header-menu > li a {
    display: inline-block;
    text-transform: uppercase;
}

ul#custom-header-menu > li ul.sub-menu, 
ul#custom-header-menu > li ul.sub-menu li {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
}

div#buildr-custom-header.parallax_layers .jparallax-layer.texture-layer {
    background-size: unset !important;
}

div#buildr-custom-header.parallax_layers .jparallax-layer.content-layer {
    left: 50%;
    top: 50%;
    display: none;
}

div#buildr-custom-header.buildr_parallax img.custom-logo,
div#buildr-custom-header.parallax_layers .jparallax-layer.content-layer img.custom-logo {
    width: auto;
    margin-bottom: 15px;
}

/* -----------------------------------------------------------------------------
 * Footer
 * -------------------------------------------------------------------------- */

footer#colophon {
    position: relative;
    z-index: 999;
}

div#pre-footer-wrap {
    padding: 60px 0 40px 0;
}

footer div#slim-footer-wrap {
    background-color: #000000;
}

footer div#slim-footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 15px;
}

footer div#footer-branding-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1;
    align-items: center;
}

footer div#slim-footer.centered {
    display: block;
}

footer div#slim-footer.centered div#footer-branding-wrap {
    justify-content: center;
}

footer div#slim-footer.centered #footer-social {
    text-align: center;
    margin-top: 5px;
}

footer div#footer-branding-wrap .site-title {
    margin: 0;
}

footer div#footer-branding-wrap img.custom-logo {
    width: auto;
}

footer #buildr_designer {
/*    transform: scale(1.75);
    margin-left: 25px;*/
}

footer .footer-copyright {
    margin: 0 15px;
    display: inline-block;
}

footer span.buildr_by {
    border-left: thin solid white;
    padding-left: 15px;
}

footer a.rel img {
    height: 1.15em;
    width: auto;
    margin-top: -.175em;
    margin-left: 0.3em;
}

/* -----------------------------------------------------------------------------
 * Widgets
 * -------------------------------------------------------------------------- */

h2.widget-title {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: thin solid #333333;
}

aside.widget table#wp-calendar {
    width: 100%;
}

aside.widget {
    margin-bottom: 30px;
}

aside.widget ul {
    margin: 0;
    padding: 0 0 0 17px;
}

aside.widget table#wp-calendar th, 
aside.widget table#wp-calendar td {
    text-align: center;
    padding: 5px;
    border: thin solid #333333;
    color: #ffffff;
}

.mejs-container, 
.mejs-container .mejs-controls, 
.mejs-embed, 
.mejs-embed body {
    border-radius: 2px;
}

.buildr-sidebar .widget-title {
    color: #373737;
    border-bottom-color: #eee;
}

/* -----------------------------------------------------------------------------
 * Forms
 * -------------------------------------------------------------------------- */

form label {
    width: 100%;
    margin-bottom: 10px;
}

form input:not([type="submit"]), 
form textarea {
    width: 100% !important;
    border: thin solid #cacaca;
    border-radius: 2px;
    padding: 10px 15px 10px 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    text-shadow: none;
    box-shadow: none;
}

#pre-footer form input:not([type="submit"]), 
#pre-footer form textarea {
    background: #333;
    color: #fff;
    border-radius: 2px;
}

button, 
input[type="submit"],
a.button,
.buildr-module.featured-pages .featured-inner a.read-more {
    background: none;
    border: 2px solid;
    color: #fff;
    border-radius: 2px;
    padding: 10px 30px;
    border: 2px solid;
    text-transform: uppercase;
    letter-spacing: .125em;
    font-size: 12px;
    line-height: normal;
    display: inline-block;
    white-space: nowrap;
}

a.button.secondary:hover,
a.button.primary:hover {
    color: #ffffff;
}

a.button.hollow {
    background: none;
    border-color: inherit;
}

button.small, 
a.button.small {
    padding: 8px 15px;
    font-size: 10px;
}

button.large, 
a.button.large {
    padding: 15px 40px;
    font-size: 14px;
}

body .gform_wrapper .gform_footer input.button, 
body .gform_wrapper .gform_footer input[type=submit] {
    font-size: 12px !important;
}

body .gform_wrapper h3.gform_title {
    font-weight: normal !important;
}

/* -----------------------------------------------------------------------------
 * Single Post / Page
 * -------------------------------------------------------------------------- */

main#main article {
    padding-top: 100px;
    padding-bottom: 100px;
}

main#main article.post .post-thumbnail img, 
main#main article.page .post-thumbnail img,
main#main article img {
    max-width: 100%;
    height: auto;
}

article.page header.entry-header .entry-title,
.error-404 .page-header .page-title,
body.archive .page-header .page-title {
    margin-top: 0px;
    margin-bottom: 30px;
}

article header.entry-header {
    margin-bottom: 30px;
}

article.post header.entry-header .entry-title {
    margin-top: 0px;
    margin-bottom: 15px;
}

section.error-404 {
    margin: 150px 0;
}

.error-404 .page-header,
body.archive .page-header,
body.search .page-header {
    margin: 0;
    border: none;
}

body.archive .page-header,
body.search .page-header {
    margin: 50px 0 30px;
}

body.archive .page-header .page-title {
    margin: 0;
}

body.single-post .entry-footer {
    margin-top: 30px;
}

nav.navigation.post-navigation .nav-links {
    margin: 30px 0 0;
}

nav.navigation.post-navigation .nav-links .nav-next, 
nav.navigation.post-navigation .nav-links .nav-previous {
    width: 50%;
    display: block;
    float: left;    
    padding: 5px;
}

nav.navigation.post-navigation .nav-links a {
    padding: 10px 15px;
    background: #f0f0f0;
    color: #333333;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0;
    transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

nav.navigation.post-navigation .nav-links .nav-next a, 
nav.navigation.post-navigation .nav-links .nav-previous a {
    width: 100%;
    text-align: center;
}


nav.navigation.post-navigation .nav-links a:hover {
    color: #ffffff;
}

@media (max-width:767px) {
    nav.navigation.post-navigation .nav-links .nav-next, 
    nav.navigation.post-navigation .nav-links .nav-previous {
        width: 100%;
        display: block;
        text-align: center;
    }

    nav.navigation.post-navigation .nav-links a {
        width: 100%;
        margin: 0;
    }
   
}

/* -----------------------------------------------------------------------------
 * Comments
 * -------------------------------------------------------------------------- */

#comments.comments-area {
    padding-top: 30px;
    border-top: thin solid #eee;
    margin-top: 15px;
}

#comments.comments-area h2.comments-title, 
h3#reply-title {
    margin: 0 0 15px 0;
    font-size: 22px;
}

#comments.comments-area ol.comment-list {
    margin: 0;
    padding: 0;
}

#comments.comments-area ol.comment-list li.comment {
    border-left: 5px solid #E6E6E6;
    padding: 15px;
    margin: 15px 0;
}

#comments.comments-area .comment-metadata {
    padding: 5px 0 0 0;
    font-size: 12px;
}

#comments.comments-area ol.comment-list ol.children {
    padding-left: 0;
    margin-left: 15px;
}

#comments.comments-area .comment-content {
    padding: 15px;
}

/* -----------------------------------------------------------------------------
 * Cart: Side Panel Slide-in
 * -------------------------------------------------------------------------- */

div#cart-panel-trigger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: calc(100% + 10px);
    bottom: 10px;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

div#cart-panel-trigger > svg {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    width: 0;
}

div#cart-panel-trigger.active > span {
    opacity: 0;
}

div#cart-panel-trigger.active > svg {
    opacity: 1;
    width: auto;
}

div#cart-panel-trigger .fa-shopping-cart {
    margin-left: -2px;
    line-height: 40px;
}

div#cart-panel-trigger:hover span.fas {
    font-size: 21px;
}

div#cart-panel-trigger:hover > svg {
    transform: translate(-50%,-50%) scale(1.2);
}

#cart-panel {
    position: fixed;
    top: 0px;
    bottom: 0px;
    height: 100%;
    right: -280px;
    width: 280px;
    transition: left 300ms ease;
    -moz-transition: left 300ms ease;
    -webkit-transition: left 300ms ease;
    background-color: #fff;
    z-index: 99999;
    max-width: 280px;
    padding: 0 0 0 0;
}

#cart-panel .inner {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 150px;
}

div#cart-panel #cart-panel-close {
    position: absolute;
    display: none;
    left: -54px;
    top: 38px;
    cursor: pointer;
}

#go-to-cart {
    color: #333;
    display: block;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .125em;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
}

#cart-sidebar-quantity > a {
    font-size: 14px;
    display: block;
    color: #373737;
}

#dark-cart-overlayer {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    top: 0;
}

#cart-panel .inner .woocommerce-mini-cart__buttons.buttons a.button {
    display: block;
    width: 100%;
    text-align: center;
}

#cart-panel .inner .woocommerce-mini-cart__buttons.buttons a.button:first-child {
    margin-bottom: 5px;
}

div#cart-panel #cart-panel-close svg {
    transform: scale(1.5);
}

div#cart-panel #cart-panel-close svg path {
    fill: #fff;
}

ul.product_list_widget .product-wrap .product-title {
    padding-top: 0;
    padding-bottom: 0;
}

div#cart-panel ul.product_list_widget .product-wrap {
    margin-bottom: 10px;
}

div#cart-panel ul.product_list_widget .product-wrap > a img {
    max-width: 50px;
}

div#cart-panel ul.product_list_widget .product-wrap a.remove {
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.widget_shopping_cart_content div.blockOverlay {
    -ms-filter: none !important; 
    filter:  none !important; 
    -moz-opacity: .65 !important;
    opacity: .65 !important;
    background-color: #FFFFFF !important;
}

/* -----------------------------------------------------------------------------
 * Sidebars : Above & Below 
 * -------------------------------------------------------------------------- */
.sidebar-wrap aside.widget {
    margin: 0;
}

/*.sidebar-wrap.above {
    margin-bottom: 50px;
}

.sidebar-wrap.below {
    margin-top: 50px;
}*/

.sidebar-wrap > :not(.buildr-module) {
    color: #333333;
    padding: 30px 15px;
    max-width: 1170px;
    margin: 0 auto !important;
}

.sidebar-wrap > :not(.buildr-module) .widget-title {
    color: #333;
}

.sidebar-wrap aside.widget table#wp-calendar th, 
.sidebar-wrap aside.widget table#wp-calendar td {
    color: #333;
}

/* -----------------------------------------------------------------------------
 * Template: Widget Shell
 * -------------------------------------------------------------------------- */
div#primary.widget-shell main#main > article {
    padding: 0;
    margin: 0;
}

/* -----------------------------------------------------------------------------
 * Pagination Links
 * -------------------------------------------------------------------------- */
.buildr-pagination-links {
    text-align: center;
    padding: 15px 0;
}

.buildr-pagination-links .page-numbers,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li > a {
    padding: 4px 12px;
    display: inline-block;
    border-radius: 5px;
    color: #333333;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.buildr-pagination-links .page-numbers:hover,
.woocommerce nav.woocommerce-pagination ul li:hover span,
.woocommerce nav.woocommerce-pagination ul li:hover > a {
    color: #ffffff;
}

.buildr-pagination-links .page-numbers.current,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: #f0f0f0;
}

nav.woocommerce-pagination {
    text-align: center;
}

nav.woocommerce-pagination > ul.page-numbers {
    margin: 0;
    padding: 0;
}

.pagination-links .page-numbers.current {
    color: #ffffff;
}

.pagination-links .page-numbers.dots {
    background: none;
}

/* -----------------------------------------------------------------------------
 * Author Template
 * -------------------------------------------------------------------------- */
div#author-banner {
    height: 125px;
}

div#author-banner.has-banner {
    height: 260px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
}

header.author-meta-header {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    height: 75px;
    margin-bottom: 15px;
}

div#author-meta-wrap img.avatar {
    width: 150px;
    height: 150px;
    position: relative;
    top: -75px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    border: 2px solid #fff;
}

div#author-meta-wrap .author-job-location-social .author-social {
    margin-top: 15px;
}

div#author-meta-wrap .author-job-location-social .author-social a.social-link {
    background: #aaaaaa;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

div#author-meta-wrap .author-job-location-social .author-social a.social-link:hover {
    opacity: .8;
}

@media (max-width:767px) {
    div#author-meta-wrap img.avatar {
        left: 50%;
        transform: translate(-50%,0%);
    }
    div#author-meta-wrap .author-nicename {
        text-align: center;
    }
    div#author-meta-wrap .author-job-location-social {
        text-align: center;
    }
}

/* -----------------------------------------------------------------------------
 * Left and Right Sidebars
 * -------------------------------------------------------------------------- */

.buildr-landr-sidebar-wrap aside.widget table#wp-calendar th, 
.buildr-landr-sidebar-wrap aside.widget table#wp-calendar td {
    color: #373737;
}

@media (min-width:768px) {
    .buildr-landr-sidebar-wrap {
        margin-top: 100px;
    }    
    body.blog .buildr-landr-sidebar-wrap,
    body.archive .buildr-landr-sidebar-wrap,
    body.search .buildr-landr-sidebar-wrap {
        margin-top: 0;
    }
}

.buildr-landr-sidebar-wrap > aside.widget:first-child h2.widget-title {
    margin-top: 0;
}

.buildr-landr-sidebar-wrap h2.widget-title {
    color: #373737;
    border-bottom-color: #eee;
}

@media (max-width:1199px) and (min-width:768px) {
    .buildr-landr-sidebar-wrap ul.product_list_widget .product-wrap {
        display: block;
    }
    .buildr-landr-sidebar-wrap ul.product_list_widget .product-wrap > a img {
        max-width: 100%;
        float: none;
    }

    .buildr-landr-sidebar-wrap ul.product_list_widget .product-wrap > .product-title,
    .buildr-landr-sidebar-wrap ul.product_list_widget .product-wrap > .quantity {
        font-size: 14px;
        padding: 0;
        margin-top: 15px;
    }    
}

@media (max-width:767px) {
    .has-side-sidebar.sidebar-right > article {
        padding-bottom: 50px !important;
    }
    .has-side-sidebar.sidebar-left > article {
        padding-top: 15px !important;
    }
    .buildr-landr-sidebar-wrap.single.right {
        margin-bottom: 100px;
    }
    .buildr-landr-sidebar-wrap.single.left {
        margin-top: 100px;
    }
}

/* -----------------------------------------------------------------------------
 * EDD Store Archive Page
 * -------------------------------------------------------------------------- */
.edd_masonry_wrap .edd-product,
.edd_masonry_wrap .grid_sizer {
    width: 50% !important;
}

@media (max-width:767px) {
    .edd_masonry_wrap .edd-product,
    .edd_masonry_wrap .grid_sizer {
        width: 100% !important;
    }
}

.edd_masonry_wrap .edd-product img {
    height: auto;
    width: 100%;
}

.edd_masonry_wrap .edd-product .product-title {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: .125em;
    margin-bottom: 0;
}

.edd_masonry_wrap .edd-product .product-title a {
    color: #333333;
}

.edd_masonry_wrap .edd-product .product-heading {
    border-left: 10px solid;
    padding-left: 15px;
    margin-bottom: 15px;
}

.edd_masonry_wrap .edd-product .product-price {
    margin: 5px 0 0 0;
    font-size: 22px;
}

.edd_masonry_wrap .edd-product {
    margin-bottom: 30px;
}

.edd_masonry_wrap .edd-product a.button {
    width: 100%;
    text-align: center;
}

.edd_masonry_wrap .edd-product .edd-product-icon {
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    background: #141414;
}

.edd_masonry_wrap .edd-product hr {
    margin-bottom: 10px;
}

.edd_masonry_wrap .edd-product .edd-excerpt {
    margin-bottom: 15px;
}

.edd_masonry_wrap .edd-product form a.button {
    margin-bottom: 2.5px;
}

.edd_masonry_wrap .edd-product form a.button.edd_go_to_checkout {
    margin-bottom: 7.5px;
}

.edd_masonry_wrap .edd-product .product-buttons span.edd-cart-added-alert {
    position: relative;
    text-align: center;
    color: #333;
    background: #e3e3e3;
    border-radius: 4px;
    padding: 2.5px 0;
    margin-bottom: 5px;
    margin-top: -2.5px;
}

/* -----------------------------------------------------------------------------
 * EDD Single Product Page
 * -------------------------------------------------------------------------- */

div#buildr-edd-header {
    background: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    position: relative;
}

div#buildr-edd-header article {
    padding: 50px 0;
}

div#edd-header-wrap-wrapper {
    display: flex;
    align-items: center;
}

div#edd-header-wrap-blurb {
    width: 60%;
    padding-right: 60px !important;
}

div#edd-header-wrap-gallery {
    width: 40%;
}

div#buildr-edd-body {
    padding: 50px 0;
    background: #f8f8f8;
}

span.product-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .125em;
    margin-bottom: 10px;
    margin-top: 0px;
    display: block;
}

div#buildr-edd-header h1.product_title {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 5px;
}

div#buildr-edd-header .price {
    font-size: 42px;
    display: block;
    margin-bottom: 15px;
}

div#buildr-edd-header .price del {
    color: #333;
}

div#buildr-edd-header .edd-buttons {
    margin-top: 30px;
}

div#buildr-edd-header .edd-buttons .edd_purchase_submit_wrapper {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

div#buildr-edd-header .edd-buttons span.edd-cart-added-alert {
/*    position: relative;
    text-align: center;
    color: #333;
    background: #e3e3e3;
    border-radius: 4px;
    padding: 2.5px 0;
    margin-bottom: 5px;
    margin-top: 10px;*/
    position: relative;
    text-align: center;
    color: #333;
    background: #e3e3e3;
    border-radius: 4px;
    padding: 2.5px 0;
    margin-bottom: 5px;
    margin-top: -2.5px;
}

div#buildr-edd-header .edd-buttons .edd_download_purchase_form {
    margin-bottom: 0px !important;
}

div#buildr-edd-header .edd-buttons a.button.edd_go_to_checkout {
    margin-bottom: 5px;
}

div#edd-header-wrap-blurb, 
div#edd-header-wrap-gallery {
    padding: 30px 0;
}

div#edd-header-wrap-gallery img.solo-image,
div#edd-gallery-wrap .edd-gallery-slide img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
}

div#edd-gallery-wrap .edd-gallery-slide {
    padding: 15px;
}

div#edd-gallery-wrap .slick-track {
    display: flex !important;
    align-items: center;
}

div#edd-gallery-wrap .slick-arrow {
    top: 50%;
    position: absolute;
    transform: translate(0%,-50%) rotate(-90deg);
    background: none;
    border: none;
    left: -15px;
    z-index: 9999;
    width: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

div#edd-gallery-wrap .slick-arrow svg {
    fill: #141414;
}

div#edd-gallery-wrap .slick-arrow.slick-next {
    right: -15px;
    left: unset;
    transform: translate(0%,-50%) rotate(90deg);
}

div#edd-gallery-wrap .slick-arrow:hover {
    opacity: .75;
}

#buildr-edd-body #edd-tab-nav {
    margin-bottom: 30px;
}

#buildr-edd-body .tab-content {
    margin-bottom: 50px;
    padding: 15px 0 30px 0;
}

#buildr-edd-header iframe.edd-product-video {
    max-width: 100%;
}

@media (max-width:991px) {
    
    div#edd-header-wrap-gallery {
        padding-bottom: 0 !important;
        padding-top: 0 !important;  
    }
    
    div#buildr-edd-header h1.product_title,
    div#buildr-edd-header .price {
        font-size: 32px;
    }
    div#edd-gallery-wrap {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    div#edd-header-wrap-wrapper {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    div#edd-header-wrap-blurb,
    div#edd-header-wrap-gallery {
        width: 100%;
        padding-right: 0 !important;
    }
    div#edd-header-wrap-gallery {
        padding-top: 0 !important;
    }
    
    div#edd-header-wrap-blurb {
        padding-bottom: 0 !important;
    }
    
    div#edd-header-wrap-gallery img.solo-image {
        margin-bottom: 15px;
    }
    
    div#buildr-edd-header .edd-buttons .edd_purchase_submit_wrapper {
        float: none;
        margin-right: 0;
    }
    
    div#buildr-edd-header .edd-buttons span.edd-cart-added-alert {
        margin-top: 0px;
        margin-bottom: 5px;
    }

}

.nav-pills > li + li {
    margin-left: 10px;
}

.nav-pills > li > a {
    border: 2px solid;
    border-radius: 2px;
    padding: 10px 30px;
    border: 2px solid;
    text-transform: uppercase;
    letter-spacing: .125em;
    font-size: 12px;
    line-height: normal;
    display: inline-block;
    white-space: nowrap;
}

.nav-pills > li.active > a {
    color: #fff !important;
    border-color: #777 !important;
    background: #777 !important;
}

.nav-pills > li > a {
    background: #e3e3e3 !important;
    border-color: #e3e3e3 !important;
    color: #666 !important;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.nav-pills > li > a:hover {
    opacity: .85;
}

@media (max-width:767px) {
    #buildr-edd-body #edd-tab-nav {
        margin-bottom: 15px;
    }
    .nav-pills > li {
        margin: 0 0 2px 0 !important;
    }
    .nav-pills > li, 
    .nav-pills > li > a {
        width: 100%;
        text-align: center;
    }
    div#buildr-edd-header .edd-buttons .edd_purchase_submit_wrapper {
        width: 100%;
    }
    div#buildr-edd-header .edd-buttons a.button {
        width: 100% !important;
    }
}

.buildr-single-edd-product .edd_price_options input[type="radio"] {
    display: inline-block !important;
    width: auto !important;
    margin: 0 10px 0 0 !important;
    top: -2px;
    position: relative;
}

table.edd_sl_table,
table.edd-table {
    margin: 30px 0;    
}

table.edd_sl_table th,
table.edd-table th {
    padding: 5px 15px !important;
    font-weight: 700;
    background: #f5f5f5;
}

table.edd_sl_table td,
table.edd-table td {
    border: thin solid #f6f5f6;
    padding: 5px 15px !important;
}

table.edd_sl_table thead tr > th,
table.edd-table thead tr > th {
    border-left: thin solid #e3e3e3;
}

table.edd_sl_table thead tr > th:first-child,
table.edd-table thead tr > th:first-child {
    border-left: none;
}

form.edd_form .edd-submit,
table.edd-table td.edd_purchase_details a,
table.edd-table td a.edd_download_file_link,
table.edd_sl_table td.edd_purchase_details a,
table.edd_sl_table td a.edd_download_file_link {
    margin: 10px 0;
    color: #ffffff !important;
    border: 2px solid !important;
    border-radius: 4px;
    padding: 10px 30px !important;
    text-transform: uppercase;
    letter-spacing: .125em;
    font-size: 12px;
    line-height: normal;
    display: inline-block !important;
    white-space: nowrap;
}

table#edd_purchase_receipt_products.edd-table li.edd_download_file {
    margin: 0;
}
 
table#edd_purchase_receipt_products.edd-table li.edd_download_file a {
    margin: 5px 0;
}

table#edd_purchase_receipt_products.edd-table td {
    padding: 15px !important;
}

#edd_checkout_form_wrap legend {
    padding: 10px 15px;
    border: 1px solid #eeeeee;
    background: #fafafa;
}

table#edd_sl_license_keys,
table#edd_sl_license_sites,
table#edd_sl_license_upgrades {
    width: 100%;
}

table#edd_purchase_receipt span.edd_sl_license_key,
table#edd_sl_license_keys input.edd_sl_license_key {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

form#edd_sl_license_add_site_form input.edd-input {
    margin-bottom: 15px;
}

a.edd-manage-license-back {
    margin-bottom: 30px;
}